.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.error {
  color: red;
}
.label > span {
  /* text-align: center; */
  color: rgba(red, red, red, 0.1);
  color: red;
  text-align: center;
  font-weight: 300;
}
