.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: none;
  width: 400px;
  min-height: 20px;
  overflow-wrap: break-word;
  box-sizing: border-box;
  border-right: solid 1px black;
  border-left: solid 1px black;
  padding: 20px;
  padding: 20px 60px 20px 60px;
  border-radius: 10px;
  gap: 100px;
  box-sizing: border-box;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.info > div > div > p {
  word-break: break-word;
}
.button {
}
.iconWrapper {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}
.button:hover {
  background-color: #dbdbdb;
  cursor: pointer;
}
