.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
  font-size: 20px;
  left: 530px;
  position: absolute;
}

.link.active {
  color: #e84a5f;
}
.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}

.link.active {
  color: #e84a5f;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
